.contact_detail{
    background-color: var(--color-secondaty);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}

.contac_detail-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--color-primary);
}

.contact_detail-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact_detail-img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.contact_detail-name{
    font-size: var(--font-size-xxl);
    color: var(--color-neutral);
    font-weight: 700;
}

.contact_detail-phone_number{
    font-size: var(--font-size-md);
    color: var(--color-neutral);
    letter-spacing: 0.1rem;
}

.contact_detail-icon{
    color: var(--color-neutral);
    font-size: var(--font-size-xxl);
}

.contact_detail-actions_container{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.contact_detail-actions{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid var(--color-light);
    border-radius: 0.5rem;
    padding: 0.8rem 1.2rem;
}

.contact_detail-actions-icon{
    font-size: var(--font-size-xxl);
    color: var(--color-dark);
}

.contact_detail-actions-text{
    color: var(--color-dark);
}

.contact_detail-info{
    width: 90%;
    color: var(--color-dark);
    font-size: var(--font-size-md);
    font-weight: 700;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-dark);
}

.contact_detail-options_container{
    width: 90%;
    color: var(--color-dark);
    font-size: var(--font-size-md);
}

.contact_detail-option{
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--color-dark);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact_detail-option-text{
    font-size: var(--font-size-md);
}

.contact_detail-option-icon{
    font-size: var(--font-size-xxl);
}

.contact_detail-options-footer_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    width: 90%;
    color: var(--color-dark);
    font-size: var(--font-size-md);
    padding: 1rem 0.5rem;
}

.contact_detail-option-footer{
    display: flex;
    gap: 1rem;
}

.contact_detail-option-footer:nth-child(3){
    color: red;
}

.contact_detail-option-footer:nth-child(4){
    color: red;
}

.contact_detail-option-footer-text{
    font-size: var(--font-size-sm);
}

.contact_detail-option-footer-icon{
    font-size: var(--font-size-xl);
}

@media screen and (min-width: 480px) {
    .contact_detail-actions_container{
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    .contact_detail-actions_container{
        gap: 4rem;
    }
}

@media screen and (min-width: 1280px) {
    .contact_detail{
        gap: 1rem;
    }

    .contac_detail-header{
        padding: 3rem;
    }

    .contact_detail-profile{
        gap: 2rem;
    }

    .contact_detail-img{
        width: 15rem;
        height: 15rem;
    }

    .contact_detail-name{
        font-size: var(--font-size-xxxl);
        font-weight: 800;
    }

    .contact_detail-phone_number{
        font-size: var(--font-size-xl);
        letter-spacing: 0.2rem;
    }

    .contact_detail-icon{
        font-size: var(--font-size-xxxl);
    }

    .contact_detail-actions_container{
        gap: 3rem;
        padding: 0.5rem 3rem;
    }

    .contact_detail-actions{
        gap: 1rem;
        padding: 3rem;
    }

    .contact_detail-actions-icon{
        font-size: var(--font-size-xxxxl);
    }

    .contact_detail-actions-text{
        font-size: var(--font-size-xxxl);
    }

    .contact_detail-info{
        width: 80%;
        font-size: var(--font-size-xxxl);
        padding: 1.5rem 0 2rem;
    }

    .contact_detail-options_container{
        width: 80%;
    }

    .contact_detail-option{
        padding: 2rem 1.5rem;
        gap: 1.5rem;
    }

    .contact_detail-option-text{
        font-size: var(--font-size-xxxl);
    }

    .contact_detail-option-icon{
        font-size: var(--font-size-xxxxl);
    }

    .contact_detail-options-footer_container{
        width: 80%;
        gap: 2rem;
        padding: 2rem 1.5rem;
    }

    .contact_detail-option-footer{
        display: flex;
        gap: 1rem;
    }

    .contact_detail-option-footer-text{
        font-size: var(--font-size-xxl);
    }

    .contact_detail-option-footer-icon{
        font-size: var(--font-size-xxxl);
    }
}